# Dependencies
node_modules/
__pycache__/
venv/

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/
*.pyc

# IDE
.vscode/settings.json
.DS_Store

# Logs
*.log
.vercel
